Добро пожаловать в {{ title }}  <br>
Тут собрано {{ books_count }} книг из моей личной коллекции.
{% load static %}
<table border="1">
    {% for book in books %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ book.title }}</td>
        <td>{% if book.cover %}
        <img src="{{ book.cover.url }}"
            alt="{{ image }}"
            width="150" height="auto">
        {% else %}
        <a href="../image_up/">upload image</a>
        {% endif %}</td>
        <td>{{ book.ISBN }}</td>
        <td>{{ book.description }}</td>
        <td>{{ book.year_release }}</td>
        <td>{{ book.author.full_name }}</td>
        <td>{{ book.author.country }}</td>
        <td>{%if book.reader %}
            {{ book.reader }}
            {% endif %}</td>
    </tr>
    {% endfor %}
</table>
